<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movies and categories</title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
    </environment>
</head>
<body>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="container df">
            <partial name="_leftNavigation" />

            <div class="w-100 p-20">
                @RenderBody()
            </div>
        </div>
    }
    else
    {
        @RenderBody()
    }


@* 
    <div class="container df">
        @if (SignInManager.IsSignedIn(User))
        {
            <partial name="_leftNavigation" />

            <div class="w-100 p-20">
                @RenderBody()
            </div>
        }
        else
        {
            @RenderBody()
        }
    </div>
 *@


@* 
    @if (SignInManager.IsSignedIn(User))
    {

        <div class="db">

            <!-- main content -->
            <div class="centerx">
                <div class="w-900px">
                    <div class="w-100 p-10">
                        @RenderBody()
                    </div>
                </div>
            </div>


            <!-- left navigation -->
            <div style="width: 230px;">
                <div style="width: 230px">
                    <partial name="_leftNavigation" />
                </div>
            </div>

        </div>
    }
    else
    {
        @RenderBody()
    }
 *@



    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
