<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movies and categories</title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
    </environment>
</head>
<body>

     
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="db">

            <div class="df-sb centery" style="position: absolute; left: 0px; top: 0px; right: 0px; height: 65px; box-shadow: 0px 0px 0px rgb(100,100,100); background-color: rgb(255,255,255); border-bottom: 1px solid rgb(220,220,220);">
                <div class="" style="width: 350px;">
                </div>

                <div class="w-100 df-sb">
                    <div>
                        <span style="font-size: 20px; font-weight: bold;">Panel administracyjny</span>
                    </div>
                    <div>
                        Zalogowany użytkownik
                        <span style="font-weight: bold;">@User.Identity.Name</span>
                        <span class="ml-10">Ustawienia</span>
                    </div>
                </div>
            </div>




            <div class="container df" style="margin-top: 65px;">
                <partial name="_leftNavigation" />

                <div class="w-100">
                    <div class="db ml-20 mr-20 mb-20">

                        <partial name="_navigationInfo" />


                        <div class="">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    }
    else
    {
        @RenderBody()
    }




    @*
    @if (SignInManager.IsSignedIn(User))
    {
    <div class="container df">
    <partial name="_leftNavigation" />

    <div class="w-100">
    <div class="db">

    <div class="df-sb centery" style="height: 65px; background-color: rgb(255,255,255); border-bottom: 1px solid rgb(240,240,240);">
    <partial name="_navigationInfo" />
    <div></div>
    <div>
    Zalogowany użytkownik
    <span style="font-weight: bold;">@User.Identity.Name</span>
    </div>
    </div>


    <div class="p-20">
    @RenderBody()
    </div>
    </div>
    </div>
    </div>
    }
    else
    {
    @RenderBody()
    } *@





    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
