@{
    var users = await Context.Users.ToListAsync();
    var roles = await Context.Roles.ToListAsync();
    var categories = await Context.Categories.ToListAsync();
    var movies = await Context.Movies.ToListAsync();
    var logowania = await Context.Logowania.ToListAsync();


    ApplicationUser zalogowanyUser = new ApplicationUser();
    if (User != null && User.Identity != null)
    {
        zalogowanyUser = await Context.Users.FirstOrDefaultAsync(f => f.Email == User.Identity.Name);
        if (zalogowanyUser != null)
        {
            if (await UserManager.IsInRoleAsync (zalogowanyUser, "User"))
            {
                logowania = logowania.Where(w => w.UserId == zalogowanyUser.Id).ToList();
            }
        }
    }
}



<div class="w-250px pr">
    <div class="w-250px">
        <div class="w-250px db leftNavigation">

            <div class="db p-10 mt-20 mb-30">
                <p style="font-size: 40px; font-weight: bold;">Movies</p>
                <p style="font-size: 20px; margin-left: 20px;">management</p>
            </div>

            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home" class="buttonEdit">Dashboard</a>
                </li>

                @* Linki wyświetlane tylko dla administratora systemu *@

                @if(zalogowanyUser != null)
                {
                    if (await UserManager.IsInRoleAsync(zalogowanyUser, "Administrator"))
                    {
                        <li>
                            <a asp-action="Index" asp-controller="Users" class="buttonDelete">Users (@users.Count)</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Roles" class="buttonDelete">Roles (@roles.Count)</a>
                        </li>
                    }
                }


                <li>
                    <a asp-action="Index" asp-controller="Categories" class="buttonEdit">Categories (@categories.Count)</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Movies" class="buttonDelete">Movies (@movies.Count)</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Logowania" class="buttonEdit">Historia logowań (@logowania.Count)</a>
                </li>
                <li>
                    <div class="b mt-10">Ustawienia</div>
                </li>
                <li>
                    <a asp-action="Edit" asp-controller="Account" class="buttonEdit b">Edytuj dane osobowe</a>
                </li>
                <li>
                    <a asp-action="ChangeEmail" asp-controller="Account" class="buttonEdit b">Zmień email</a>
                </li>
                <li>
                    <a asp-action="ChangePassword" asp-controller="Account" class="buttonEdit b">Zmień hasło</a>
                </li>
                <li>
                    <a asp-action="Logout" asp-controller="Account" class="buttonEdit b">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</div>

