@{
    string text = "Jesteś tutaj: ";

    <div class="df centery fs-12" style="color: rgb(100,100,100); margin: 15px 0px 30px 17px;">

        @switch (NI.Navigation)
        {

            case Navigation.HomeIndex:
                <span class="mr-10">@text</span>
                <span>Dashboard</span>
                break;










            case Navigation.AccountEdit:
                <span class="mr-10">@text</span>
                <span>Account</span>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;
            case Navigation.AccountChangeEmail:
                <span class="mr-10">@text</span>
                <span>Account</span>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;
            case Navigation.AccountChangePassword:
                <span class="mr-10">@text</span>
                <span>Account</span>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;
            case Navigation.AccountDelete:
                <span class="mr-10">@text</span>
                <span>Account</span>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;










            case Navigation.UsersIndex:
                <span class="mr-10">@text</span>
                <span>Users</span>
                break;
            case Navigation.UsersCreate:
                <span class="mr-10">@text</span>
                <span>Users</span>
                <div class="arrowNi">\</div>
                <span>Create</span>
                break;
            case Navigation.UsersEdit:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Users" class="actionLinkNi">Users</a>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;
            case Navigation.UsersChangeEmail:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Users" class="actionLinkNi">Users</a>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                <div class="arrowNi">\</div>
                <span>Change email</span>
                break;
            case Navigation.UsersChangePassword:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Users" class="actionLinkNi">Users</a>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                <div class="arrowNi">\</div>
                <span>Change password</span>
                break;










            case Navigation.RolesIndex:
                <span class="mr-10">@text</span>
                <span>Roles</span>
                break;
            case Navigation.RolesCreate:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Roles" class="actionLinkNi">Roles</a>
                <div class="arrowNi">\</div>
                <span>Create</span>
                break;
            case Navigation.RolesEdit:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Roles" class="actionLinkNi">Roles</a>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;










            case Navigation.CategoriesIndex:
                <span class="mr-10">@text</span>
                    <span>Categories</span>
                break;
            case Navigation.CategoriesCreate:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Categories" class="actionLinkNi">Categories</a>
                <div class="arrowNi">\</div>
                <span>Create</span>
                break;
            case Navigation.CategoriesEdit:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Categories" class="actionLinkNi">Categories</a>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;










            case Navigation.MoviesIndex:
                <span class="mr-10">@text</span>
                <span>Movies</span>
                break;
            case Navigation.MoviesCreate:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Movies" class="actionLinkNi">Movies</a>
                <div class="arrowNi">\</div>
                <span>Create</span>
                break;
            case Navigation.MoviesDetails:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Movies" class="actionLinkNi">Movies</a>
                <div class="arrowNi">\</div>
                <span>Details</span>
                break;
            case Navigation.MoviesEdit:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Movies" class="actionLinkNi">Movies</a>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;










            case Navigation.LogowaniaIndex:
                <span class="mr-10">@text</span>
                        <span>Logowania</span>
                break;
            case Navigation.LogowaniaCreate:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Logowania" class="actionLinkNi">Logowania</a>
                <div class="arrowNi">\</div>
                <span>Create</span>
                break;
            case Navigation.LogowaniaEdit:
                <span class="mr-10">@text</span>
                <a asp-action="Index" asp-controller="Logowania" class="actionLinkNi">Logowania</a>
                <div class="arrowNi">\</div>
                <span>Edit</span>
                break;



        }

    </div>

}