@model GetUserDto


<div class="dodawanieHeader">
    <span class="titleHeader">Edytowanie danych osobowych</span>
</div>
<hr />

<form method="post" asp-action="Edit" asp-controller="Account" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Photo" />
    <input type="hidden" asp-for="RoleName" />
    <input type="hidden" asp-for="DataDodania" />


    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Email"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <span>@Model.Email</span>
                    <span asp-validation-for="Email" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Imie"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Imie" />
                    <span asp-validation-for="Imie" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Nazwisko"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Nazwisko" />
                    <span asp-validation-for="Nazwisko" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Ulica"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Ulica" />
                    <span asp-validation-for="Ulica" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Miejscowosc"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Miejscowosc" />
                    <span asp-validation-for="Miejscowosc" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Wojewodztwo"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Wojewodztwo" />
                    <span asp-validation-for="Wojewodztwo" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="KodPocztowy"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="KodPocztowy" />
                    <span asp-validation-for="KodPocztowy" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Pesel"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Pesel" />
                    <span asp-validation-for="Pesel" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="DataUrodzenia"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="DataUrodzenia" />
                    <span asp-validation-for="DataUrodzenia" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Telefon"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Telefon" />
                    <span asp-validation-for="Telefon" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Photo"></label>
            </td>
            <td class="rightColumn">
                <div class="image w-200px">
                    <!-- wyświetla zdjęcie -->
                    <div id="displayPhoto">
                        <partial name="_displayPhoto" model="@Model.Photo" />
                    </div>
                    


                    <!-- wybiera zdjęcie -->
                    <div id="imageContainer" class="image">
                        <img id="imagePreview" alt="Uploaded Photo" style="display: none;" />
                    </div>
                    <input asp-for="PhotoData" id="fileInput" style="border: none; padding: 0px; margin: 0px; background-color: transparent; margin-top: 15px; width: fit-content;" accept="image/*" onchange="previewImage(event); saveFiles();" />
                     
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Plec">Plec</label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <select asp-for="Plec" asp-items='@new SelectList(Enum.GetValues(typeof(Plec)))' class="w-200px form-input2"></select>
                    <span asp-validation-for="Plec" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Rola</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <span>@Model.RoleName</span>
                    <span asp-validation-for="RoleName" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Data utworzenia konta</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <span>@Model.DataDodania</span>
                    <span asp-validation-for="DataDodania" class="c-red"></span>
                </div>
            </td>
        </tr>
    </table>



    <div class="w-100 df-sb mt-30 mb-40">
        <a asp-action="Index" asp-controller="Home" class="buttonWstecz w-100px" onclick="clearSession();">Wstecz</a>
        <div class="df">
            <input type="submit" value="Zapisz" class="buttonEdit w-100px" onclick="clearSession();" />
            <a asp-action="Index" asp-controller="Home" class="buttonAnuluj w-100px ml-2" onclick="clearSession();">Anuluj</a>
        </div>
    </div>
</form>


<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>










@section Scripts {
    <script>
        var filesInput = document.getElementById('fileInput');
        var imagePreview = document.getElementById('imagePreview');
        var displayPhoto = document.getElementById('displayPhoto');
        var imageContainer = document.getElementById('imageContainer');

        // Funkcja do zapisywania przesłanych plików w sessionStorage
        function saveFiles() {
            var files = filesInput.files;

            if (files.length > 0) {
                var filesArray = Array.from(files);
                var filesData = filesArray.map(file => {
                    return {
                        name: file.name,
                        type: file.type,
                        size: file.size
                    };
                });

                // Zapisywanie plików w sessionStorage
                sessionStorage.setItem('uploadPhoto', JSON.stringify(filesData));

                // Konwertowanie plików na Base64 i zapisanie w sessionStorage
                var uploadedFilesBase64 = [];
                filesArray.forEach(file => {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        uploadedFilesBase64.push(e.target.result);
                        sessionStorage.setItem('uploadedFilesBase64', JSON.stringify(uploadedFilesBase64));
                    }
                    reader.readAsDataURL(file);
                });
            }

            // Ukryj displayPhoto
            displayPhoto.style.display = 'none';
        }

        // Funkcja pobiera dane z sesji do zmiennej po załadowaniu okna
        window.onload = function () {
            var uploadedFilesBase64 = sessionStorage.getItem('uploadedFilesBase64');

            // Sprawdzamy, czy są zapisane pliki Base64 w sessionStorage
            if (uploadedFilesBase64) {
                var base64Files = JSON.parse(uploadedFilesBase64);

                // Wyświetlenie pierwszego obrazu w imagePreview
                if (base64Files.length > 0) {
                    imagePreview.src = base64Files[0]; // Załadowanie obrazu z Base64
                    imagePreview.style.display = 'block'; // Pokazanie obrazu
                    displayPhoto.style.display = 'none'; // Ukrycie ikonki "dodaj zdjęcie"
                }
            }

            // Inne ustawienia dla imageContainer
            imageContainer.style.width = '150px';
            imageContainer.style.height = '150px';
        };

        // Funkcja odpowiedzialna za wyświetlenie zdjęcia w img
        function previewImage(event) {
            const file = event.target.files[0];
            const reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block';
            }

            if (file) {
                reader.readAsDataURL(file);
                displayPhoto.style.display = 'none'; // Ukrycie ikonki "dodaj zdjęcie"
            }
        }


    </script>
}