@model GetRolesDto

@{
    int index = 0;
    index = Model.PageSize * (Model.PageIndex - 1);

    if (index <= 0)
    {
        index = 0;
    }
}



<div class="overFormContainer">

    <form method="post" asp-action="Index" asp-controller="Roles" class="formContainer">
        <input type="hidden" asp-for="PageIndex" value="@Model.PageIndex" />


        <div class="topContainer">
            <div class="df-sb">
                <div class="w-200px centery">
                    <a asp-action="Create" asp-controller="Roles" class="buttonCreate">+ Dodaj nową pozycję</a>
                </div>


                <div class="df-sb mt-20 mb-20">
                    <!-- Wyszukiwarka -->
                    <div class="df">
                        <input asp-for="q" class="searchInput" id="searchInput" />


                        @* link przekazuje dane do metody post *@
                        @* <input 
                            type="submit" 
                            value="Szukaj"
                            class="searchButton"
                            /> *@


                        @* link przekazuje dane do metody get *@
                        <a asp-action="Index"
                           asp-controller="Roles"
                           class="searchButton"
                           id="searchButton">
                            Szukaj
                        </a>

                    </div>

                    <!-- Sortowanie -->
                    <div class="df">
                        <select asp-for="SortowanieOption" asp-items='@Model.SortowanieOptionItems' class="selectOption" id="sortowanieOptionSelectList"></select>                        
                        <input type="submit" value="Sortuj" class="searchButton" />
                    </div>
                </div>

            </div>

        </div>


        <div class="tableContainer">

            @if (Model.Roles != null && Model.Roles.Any())
            {
                if (!string.IsNullOrEmpty(Model.q))
                {
                    <h3>Wyniki wyszukiwania dla: @Model.q</h3>
                    <div class="df">
                        <span>Ilość znalezionych wyników</span>
                        <h3>@Model.Roles.Count</h3>
                    </div>
                }




                <table>
                    <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Name</th>
                            <th>Users</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var role in Model.Paginator)
                        {
                            index++;

                            <tr>
                                <td class="w-40px">@index</td>



                                <td style="min-width: 300px;">
                                    @role.Name
                                </td>


                                <td>
                                    @if (role.Users != null && role.Users.Any())
                                    {
                                        @role.Users.Count
                                    }
                                </td>


                                <td class="w-50px">
                                    <div class="db">
                                        <a asp-action="Edit"
                                           asp-controller="Roles"
                                           asp-route-roleId="@role.Id"
                                           class="deleteButton">
                                            Edytuj
                                        </a>

                                        <!-- jeżeli do roli jest przypisany jakikolwiek użytkownik wtedy nie można usunąc -->
                                        @if (role.Users != null && !role.Users.Any())
                                        {
                                            <a asp-action="Delete"
                                               asp-controller="Roles"
                                               asp-route-id="@role.Id"
                                               class="deleteButton">
                                                Usuń
                                            </a>
                                        }
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>











                <!-- Paginator -->

@* 
                if (Model.Paginator.Count > 4)
                    Model.ShowPaginator = true;

                if (Model.PageIndex == Model.Paginator.TotalPage)
                    Model.ShowPaginator = true;
 *@

                if (Model.ShowPaginator == Model.DisplayNumersListAndPaginatorLinks)
                {
                    bool hasPrevious = Model.Paginator.HasPreviousPage;
                    bool hasNext = Model.Paginator.HasNexPage;


                    <div class="df mt-30 pb-30">
                        <div class="w-40 centery">

                            <div class="df centery">
                                <p>Pokaż</p>
                                <select asp-for="PageSize" asp-items='@Model.SelectListNumberItems' class="selectOption" id="pageSizeSelectList"></select>
                                 @* 
                                    <input type="submit" value="Wybierz" class="selectOptionButton" />
                                 *@
                            </div>

                        </div>




                        <div class="w-60 centery">
                            <div class="w-100 centery">
                                <div class="df fs-11 centery">




                                    @if (Model.DisplayCenterPaginator) // wyświetla lub nie środkową paginację, zależną od wyników wyszukiwania oraz ilości wyświetlanych elementów na stronie
                                    {

                                        if (hasPrevious)
                                        {
                                            <a asp-action="Index"
                                               asp-controller="Roles"
                                               asp-route-PageSize="@Model.PageSize"
                                               asp-route-PageIndex="@(Model.Paginator.PageIndex - 1)"
                                               asp-route-q="@Model.q"
                                               asp-route-SortowanieOption="@Model.SortowanieOption"
                                               class="paginatorButton">
                                                Prev
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Index"
                                               asp-controller="Roles"
                                               class="paginatorButton disable-link">
                                                Prev
                                            </a>
                                        }


                                        <div class="df ml-10 mr-10">
                                            @{

                                                string style = "padding: 3px 10px; border: 1px solid lightgray; background-color: white;";
                                                 

                                                for (var i = Model.Start; i < Model.End; i++)
                                                {
                                                    if (i == Model.PageIndex)
                                                    {
                                                        style = "padding: 7px 10px; background-color: lightgray; color: black; font-weight: bold";
                                                    }
                                                    else
                                                    {
                                                        style = "padding: 7px 10px; background-color: white;";
                                                    }
                                                    if (i <= Model.Paginator.TotalPage)
                                                    {
                                                                <a asp-action="Index"
                                                                   asp-controller="Roles"
                                                                   asp-route-PageSize="@Model.PageSize"
                                                                   asp-route-PageIndex="@i"
                                                                   asp-route-q="@Model.q"
                                                                   asp-route-SortowanieOption="@Model.SortowanieOption"
                                                                   class="paginator-item"
                                                                   style="@style"
                                                                   id="button">
                                                                    @i
                                                                </a>
                                                    }
                                                }
                                            }
                                        </div>



                                        if (hasNext)
                                        {
                                            <a asp-action="Index"
                                               asp-controller="Roles"
                                               asp-route-PageSize="@Model.PageSize"
                                               asp-route-PageIndex="@(Model.Paginator.PageIndex + 1)"
                                               asp-route-q="@Model.q"
                                               asp-route-SortowanieOption="@Model.SortowanieOption"
                                               class="paginatorButton">
                                                Next
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="Index"
                                               asp-controller="Roles"
                                               class="paginatorButton disable-link">
                                                Next
                                            </a>
                                        }

                                    }



                                </div>
                            </div>
                        </div>
                        
                    </div>

                }


            }
            else
            {
                if (!string.IsNullOrEmpty(Model.q))
                {
                    <p>Nie znaleziono ról pasujących do Twojego zapytania: <strong>@Model.q</strong>.</p>
                }
                else
                {
                    <p>Brak elementów w bazie danych.</p>
                }
            }

        </div>

    </form>

</div>




@section Scripts {
    <script type="text/javascript">
         
        let q = '';
        let pageSize = 10;
        let pageIndex = 0;
        let sortowanieOption = '';
        let getItems = false;
        let linkUrl = '';

        let searchInput = document.getElementById('searchInput');

        
        // SortowanieOption
        // pobieranie zaznaczonego elementu z listy SortowanieOptions i przekazywanie go do zmiennej, która jest przekazywana do atrybutu przycisku
        let sortowanieOptionSelectList = document.getElementById('sortowanieOptionSelectList');
        sortowanieOption = sortowanieOptionSelectList.value;
        sortowanieOptionSelectList.addEventListener('change', function () {
            sortowanieOption = this.value;

            q = searchInput.value;
            pageIndex = parseInt(@Model.PageIndex);  
            let action = 'Index';
            let controller = 'Roles';

            linkUrl = `/${controller}/${action}?PageSize=${pageSize}&PageIndex=${pageIndex}&q=${encodeURIComponent(q)}&SortowanieOption=${sortowanieOption}`;    
            window.location.href = linkUrl;  
        });


        // PageSize
        // pobieranie zaznaczonego elementu z listy SortowanieOptions i przekazywanie go do zmiennej, która jest przekazywana do atrybutu przycisku
        let pageSizeSelectList = document.getElementById('pageSizeSelectList');
        pageSize = parseInt(pageSizeSelectList.value); // może mieć 5, 10, 15 lub 20
        pageSizeSelectList.addEventListener('change', function () {
            pageSize = parseInt(this.value);
            q = searchInput.value;
            pageIndex = parseInt(@Model.PageIndex);  
            let action = 'Index';
            let controller = 'Roles';

            linkUrl = `/${controller}/${action}?PageSize=${pageSize}&PageIndex=${pageIndex}&q=${encodeURIComponent(q)}&SortowanieOption=${sortowanieOption}`;    
            window.location.href = linkUrl;             
        });


        let searchButton = document.getElementById('searchButton');
        searchButton.addEventListener('click', function (event) {
            event.preventDefault();

            controller = 'Roles';
            action = 'Index';
            pageIndex = '1'; // musi być ustawiona pierwsza pozycja
            q = searchInput.value.toString();
            q = q.trim();

            linkUrl = `/${controller}/${action}?PageSize=${pageSize}&PageIndex=${pageIndex}&q=${encodeURIComponent(q)}&SortowanieOption=${sortowanieOption}`;
            window.location.href = linkUrl;
        });



    </script>
}