@model GetCategoriesDto

@{
    int index = 0;
    index = Model.PageSize * (Model.PageIndex - 1);

    if (index <= 0)
    {
        index = 0;
    }
}


<div class="overFormContainer">

    <form method="post" asp-action="Index" asp-controller="Categories" class="formContainer">



        <div class="topContainer">
            <div class="df-sb">
                <div class="w-200px centery">
                    <a asp-action="Create" asp-controller="Categories" class="buttonCreate">+ Dodaj nową pozycję</a>
                </div>


                <div class="df-sb mt-20 mb-20">
                    <!-- Wyszukiwarka -->
                    <div class="df mr-20">
                        <input asp-for="q" class="searchInput" id="searchInput" placeholder="Szukana fraza..." />


                        @* link przekazuje dane do metody post *@
                        <input type="submit"
                               value="Szukaj"
                               class="searchButton" />


                        @* link przekazuje dane do metody get *@
                        @* <a asp-action="Index"
                        asp-controller="Categories"
                        class="searchButton"
                        id="searchButton">
                        Szukaj
                        </a> *@

                    </div>

                    <!-- Sortowanie -->
                    <div class="df-sb centery" style="width: 220px;">
                        <span class="ml-10 mr-5">Sortuj wg</span>
                        <select asp-for="SortowanieOption" asp-items='@Model.SortowanieOptionItems' class="selectOption" id="sortowanieOptionSelectList"></select>
                        @* <input type="submit" value="Sortuj" class="searchButton" /> *@
                    </div>
                </div>

            </div>

        </div>






        <div class="tableContainer">

            @if (Model.Categories != null && Model.Categories.Any())
            {
                if (!string.IsNullOrEmpty(Model.q))
                {
                    <h3>Wyniki wyszukiwania dla: @Model.q</h3>
                    <div class="df">
                        <span>Ilość znalezionych wyników</span>
                        <h3>@Model.Categories.Count</h3>
                    </div>
                }







                <table>
                    <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbodyElements">
                        @foreach (var category in Model.Paginator)
                        {
                            index++;

                            <tr>
                                <td class="w-40px">@index</td>



                                <td style="min-width: 300px;">
                                    @category.Name
                                </td>



                                <td class="w-50px">
                                    <div class="db">
                                        <a asp-action="Edit"
                                           asp-controller="Categories"
                                           asp-route-categoryId="@category.CategoryId"
                                           class="deleteButton">
                                            Edytuj
                                        </a>

                                        @if (category.Movies != null && !category.Movies.Any())
                                        {
                                            <a asp-action="Delete"
                                               asp-controller="Categories"
                                               asp-route-id="@category.CategoryId"
                                               class="deleteButton">
                                                Usuń
                                            </a>
                                        }
                                    </div>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>














                <!-- Paginator -->
                if (Model.ShowPaginator == Model.DisplayNumersListAndPaginatorLinks)
                {
                    bool hasPrevious = Model.Paginator.HasPreviousPage;
                    bool hasNext = Model.Paginator.HasNexPage;


                    <div class="df-sb mt-30 mb-50">

                        <div class="w-40">
                            <div class="df centery">
                                <p>Pokaż</p>
                                <select asp-for="PageSize" asp-items='@Model.SelectListNumberItems' class="selectOption" id="pageSizeSelectList"></select>
                                @* tutaj nie powinno być buttona typu input submit *@
                                @* <input type="submit" value="Wybierz" class="selectOptionButton" id="selectButton" /> *@
                            </div>
                        </div>


                        <div class="w-60 centery">
                            <div class="w-100 centery">
                                <div class="df fs-11 centery">



                                    <!-- przycisk prev -->
                                    @if (hasPrevious)
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Categories"
                                           asp-route-PageSize="@Model.PageSize"
                                           asp-route-PageIndex="@(Model.Paginator.PageIndex - 1)"
                                           asp-route-q="@Model.q"
                                           asp-route-SortowanieOption="@Model.SortowanieOption"
                                           class="paginatorButton">
                                            Prev
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Categories"
                                           class="paginatorButton disable-link">
                                            Prev
                                        </a>
                                    }


                                    <div class="df ml-10 mr-10">
                                        @{

                                            string style = "padding: 3px 10px; border: 1px solid lightgray; background-color: white;";

                                            <!-- przeniesienie do pierwszej strony -->
                                            if (Model.DisplayButtonLeftTrzyKropki)
                                            {
                                                <a asp-action="Index"
                                                   asp-controller="Categories"
                                                   asp-route-PageSize="@Model.PageSize"
                                                   asp-route-PageIndex="1"
                                                   asp-route-q="@Model.q"
                                                   asp-route-SortowanieOption="@Model.SortowanieOption"
                                                   class="paginator-item"
                                                   style="backgroun-color: transparent"
                                                   id="buttonLeftTrzyKropki">
                                                    ...
                                                </a>
                                            }



                                            <!-- środkowe przyciski paginacji -->
                                            for (var i = Model.Start; i <= Model.End; i++)
                                            {
                                                if (i == Model.PageIndex)
                                                {
                                                    style = "padding: 7px 10px; background-color: lightgray; color: black; font-weight: bold";
                                                }
                                                else
                                                {
                                                    style = "padding: 7px 10px; background-color: white;";
                                                }
                                                if (i <= Model.Paginator.TotalPage)
                                                {
                                                    <a asp-action="Index"
                                                       asp-controller="Categories"
                                                       asp-route-PageSize="@Model.PageSize"
                                                       asp-route-PageIndex="@i"
                                                       asp-route-q="@Model.q"
                                                       asp-route-SortowanieOption="@Model.SortowanieOption"
                                                       class="paginator-item"
                                                       style="@style"
                                                       id="button">
                                                        @i
                                                    </a>
                                                }
                                            }


                                            <!-- przeniesienie do ostatniej strony -->
                                            if (Model.DisplayButtonRightTrzyKropki)
                                            {
                                                <a asp-action="Index"
                                                   asp-controller="Categories"
                                                   asp-route-PageSize="@Model.PageSize"
                                                   asp-route-PageIndex="@Model.Paginator.TotalPage"
                                                   asp-route-q="@Model.q"
                                                   asp-route-SortowanieOption="@Model.SortowanieOption"
                                                   class="paginator-item"
                                                   style="backgroun-color: transparent"
                                                   id="buttonRightTrzyKropki">
                                                    ...
                                                </a>
                                            }
                                        }
                                    </div>




                                    <!-- przycisk next -->
                                    @if (hasNext)
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Categories"
                                           asp-route-PageSize="@Model.PageSize"
                                           asp-route-PageIndex="@(Model.Paginator.PageIndex + 1)"
                                           asp-route-q="@Model.q"
                                           asp-route-SortowanieOption="@Model.SortowanieOption"
                                           class="paginatorButton">
                                            Next
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Categories"
                                           class="paginatorButton disable-link">
                                            Next
                                        </a>
                                    }



                                </div>
                            </div>
                        </div>

                    </div>

                }


            }
            else
            {
                if (!string.IsNullOrEmpty(Model.q))
                {
                    <p>Nie znaleziono ról pasujących do Twojego zapytania: <strong>@Model.q</strong>.</p>
                }
                else
                {
                    <p>Brak elementów w bazie danych.</p>
                }
            }

        </div>

    </form>

</div>






@section Scripts {
    <script type="text/javascript">

        new Paginator(
            'Categories',
            @Model.PageIndex,
            null,
            document.getElementById('sortowanieOptionSelectList'),
            document.getElementById('pageSizeSelectList')
        );

    </script>
}