@model GetMoviesDto

@{
    int index = 0;
    index = Model.PageSize * (Model.PageIndex - 1);
}

@Model.PageSize
<br />
@Model.PageIndex
<br />
@Model.q
<br />
@Model.SortowanieOption
<br />



<div class="overFormContainer">

    <form method="post" asp-action="Index" asp-controller="Movies" class="formContainer">
        <input type="hidden" asp-for="PageIndex" value="@Model.PageIndex" />


        <div class="topContainer">
            <div class="df-sb">
                <div class="w-200px centery">
                    <a asp-action="Create" asp-controller="Movies" class="buttonCreate">+ Dodaj nową pozycję</a>
                </div>


                <div class="df-sb mt-20 mb-20">
                    <div class="df">
                        <!-- Wyszukiwarka -->
                        <div class="df">
                            <input asp-for="q" class="searchInput" id="searchInput" />
                            <input type="submit" value="Szukaj" class="searchButton" />
                        </div>
                    </div>

                    <div class="df">
                        <!-- Sortowanie -->
                        <select asp-for="SortowanieOption" asp-items='@Model.SortowanieOptionItems' class="selectOption" id="sortowanieOptionSelectList"></select>
                        <input type="submit" value="Sortuj" class="searchButton" />
                    </div>
                </div>

            </div>

        </div>


        <div class="tableContainer">

            @if (Model.Movies != null && Model.Movies.Any())
            {
                if (!string.IsNullOrEmpty(Model.q))
                {
                    <h3>Wyniki wyszukiwania dla: @Model.q</h3>
                }






                <table>
                    <thead>
                        <tr>
                            <th>Lp</th>
                            <th>Photo</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Category</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movie in Model.Paginator)
                        {
                            index++;

                            <tr>
                                <td class="w-40px">@index</td>

                                <td class="w-50px">
                                    <div class="image">
                                        <partial name="_displayPhoto" model="@movie.Photo" class="rounded-image" />
                                    </div>

                                </td>


                                <td style="min-width: 300px;">
                                    <partial name="_getText" model="@Tuple.Create(movie.Description, 40)" class="rounded-image" />
                                </td>


                                <td style="min-width: 100px;">
                                    @{
                                        string price = $"{movie.Price},00 zł";
                                                            <span>@price</span>
                                    }
                                </td>


                                <td>
                                    @movie.Category
                                </td>


                                <td class="w-50px">
                                    <div class="db">
                                        <a asp-action="Edit"
                                           asp-controller="Movies"
                                           asp-route-movieId="@movie.MovieId"
                                           class="deleteButton">
                                            Edytuj
                                        </a>

                                        <a asp-action="Delete"
                                           asp-controller="Movies"
                                           asp-route-id="@movie.MovieId"
                                           class="deleteButton">
                                            Usuń
                                        </a>
                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>



                @Model.End


                if (Model.Movies.Count > 4)
                {


                    <!-- Paginator -->
                    bool hasPrevious = Model.Paginator.HasPreviousPage;
                    bool hasNext = Model.Paginator.HasNexPage;


                    <div class="df mt-30 pb-30">
                        <div class="w-40 centery">

                            <div class="df centery">
                                <p>Pokaż</p>
                            <select asp-for="PageSize" asp-items='@Model.SelectListNumberItems' class="selectOption" id="pageSizeSelectList"></select>
                                <input type="submit" value="Wybierz" class="selectOptionButton" />
                            </div>

                        </div>





                        <div class="w-60 centery">
                            <div class="w-100 centery">
                                <div class="df fs-11 centery">
                                    @if (hasPrevious)
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Movies"
                                           asp-route-PageSize="@Model.PageSize"
                                           asp-route-PageIndex="@(Model.Paginator.PageIndex - 1)"
                                           asp-route-q="@Model.q"
                                           asp-route-SortowanieOption="@Model.SortowanieOption"
                                           class="paginatorButton"
                                           id="">
                                            Prev
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Movies"
                                           class="paginatorButton disable-link">
                                            Prev
                                        </a>
                                    }


                                    <div class="df ml-10 mr-10">
                                        @{


                                            for (var i = Model.Start; i < Model.End; i++)
                                            {
                                                if (i <= Model.Paginator.TotalPage)
                                                {

                                                    // <a asp-action="Index"
                                                    //    asp-controller="Movies"
                                                    //    asp-route-PageSize="@Model.PageSize"
                                                    //    asp-route-PageIndex="@i"
                                                    //    asp-route-q="@Model.q"
                                                    //    asp-route-SortowanieOption="@Model.SortowanieOption"
                                                    //    class="paginator-item"
                                                    //    id="button"
                                                    //    onclick="buttonClick(this);">
                                                    //     @i
                                                    // </a>


                                                     
                                                    <a asp-action="Index"
                                                       asp-controller="Movies"
                                                       asp-route-PageSize="@Model.PageSize"
                                                       asp-route-PageIndex="@i"
                                                       class="paginator-item"
                                                       onclick="buttonClick(event,this);">
                                                        @i
                                                    </a>


                                                                        // <a asp-action="Index"
                                                                        //    asp-controller="Movies"
                                                                        //    class="paginator-item"
                                                                        //    onclick="buttonClick(this);">
                                                                        //     @i
                                                                        // </a>

                                                    // <a class="paginator-item"
                                                    //    id="button"
                                                    //    onclick="buttonClick(event, this);">
                                                    //     @i
                                                    // </a>
                                                }
                                            }
                                        }
                                    </div>


                                    @if (hasNext)
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Movies"
                                           asp-route-PageSize="@Model.PageSize"
                                           asp-route-PageIndex="@(Model.Paginator.PageIndex + 1)"
                                           asp-route-q="@Model.q"
                                           asp-route-SortowanieOption="@Model.SortowanieOption"
                                           class="paginatorButton">
                                            Next
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Index"
                                           asp-controller="Movies"
                                           class="paginatorButton disable-link">
                                            Next
                                        </a>
                                    }


                                </div>
                            </div>
                        </div>
                    </div>

                }





            }
            else
            {
                if (!string.IsNullOrEmpty(Model.q))
                {
                    <p>Nie znaleziono filmów pasujących do Twojego zapytania: <strong>@Model.q</strong>.</p>
                }
                else
                {
                    <p>Brak filmów w bazie danych.</p>
                }
            }


        </div>


    </form>

</div>



@section Scripts {

    <script type="text/javascript">

        let pageSize = 10;
        
        let searchInput = document.getElementById('searchInput');

        
        // SortowanieOption
        // pobieranie zaznaczonego elementu z listy SortowanieOptions i przekazywanie go do zmiennej, która jest przekazywana do atrybutu przycisku
        let sortowanieOptionSelectList = document.getElementById('sortowanieOptionSelectList');
        let sortowanieOptionSelectListValue = sortowanieOptionSelectList.value;
        sortowanieOptionSelectList.addEventListener('change', function () {
            sortowanieOptionSelectListValue = this.value;
        });

        // PageSize
        // pobieranie zaznaczonego elementu z listy SortowanieOptions i przekazywanie go do zmiennej, która jest przekazywana do atrybutu przycisku
        // let pageSizeSelectList = document.getElementById('pageSizeSelectList');
        // pageSize = parseInt (pageSizeSelectList.value); może mieć 5, 10, 15 lub 20
        // pageSizeSelectList.addEventListener('change', function () {
        //     pageSize = parseInt (this.value);
        // });

          

         


        function buttonClick(event, object) {
            event.preventDefault();
             
            alert (pageSize);

            object.setAttribute('asp-route-PageSize', '15');
            object.setAttribute('asp-route-PageIndex', 3);
            object.setAttribute('asp-route-q', searchInput.value);
            object.setAttribute('asp-route-SortowanieOption', sortowanieOptionSelectListValue);

            let pageSize = object.getAttribute('asp-route-PageSize');
            let pageIndex = object.getAttribute('asp-route-PageIndex');
            let q = object.getAttribute('asp-route-q');
            let sortowanieOption = object.getAttribute('asp-route-SortowanieOption');
             

            let linkUrl = `/Movies/Index?PageSize=${pageSize}&PageIndex=${pageIndex}&q=${q}&SortowanieOption=${sortowanieOption}`;
             
            window.location.href = linkUrl;
        }


    </script>
}










