@model GetUserDto


<div class="dodawanieHeader">
    <span class="titleHeader">Edytowanie danych</span>
</div>
<hr />




<form method="post" asp-action="Edit" asp-controller="Users" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />


    <table>
        <tr>
            <td class="leftColumn">
                <label asp-for="Email"></label>
            </td>
            <td class="rightColumn">
                <div class="df">
                    <div class="db mr-10">
                        <input asp-for="Email" disabled />
                        <span asp-validation-for="Email" class="c-red"></span>
                    </div>
                    <a asp-action="ChangeEmail"
                       asp-controller="Users"
                       asp-route-userId="@Model.Id"
                       class="button3 ml-10 mr-10">
                        Change email
                    </a>

                    <a asp-action="ChangePassword"
                       asp-controller="Users"
                       asp-route-userId="@Model.Id"
                       class="button3">
                        Change password
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Imie"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Imie" />
                    <span asp-validation-for="Imie" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Nazwisko"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Nazwisko" />
                    <span asp-validation-for="Nazwisko" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Ulica"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Ulica" />
                    <span asp-validation-for="Ulica" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Miejscowosc"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Miejscowosc" />
                    <span asp-validation-for="Miejscowosc" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Wojewodztwo"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Wojewodztwo" />
                    <span asp-validation-for="Wojewodztwo" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="KodPocztowy"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="KodPocztowy" />
                    <span asp-validation-for="KodPocztowy" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Pesel"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Pesel" />
                    <span asp-validation-for="Pesel" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Data urodzenia</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="DataUrodzenia" />
                    <span asp-validation-for="DataUrodzenia" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Telefon"></label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <input asp-for="Telefon" />
                    <span asp-validation-for="Telefon" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Photo"></label>
            </td>
            <td class="rightColumn">
                <div class="image w-200px">
                    <!-- wyświetla zdjęcie -->
                    <partial name="_displayPhoto" model="@Model.Photo" />
                    


                    <!-- wybiera zdjęcie -->
                    <input asp-for="PhotoData" id="fileInput" style="border: none; padding: 0px; margin: 0px; background-color: transparent; margin-top: 15px; width: fit-content;" accept="image/*" onchange="previewImage(event); saveFiles();" />
                    <div id="imageContainer" class="image">
                        <img id="imagePreview" alt="Uploaded Photo" style="display: none;" />
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label asp-for="Plec">Plec</label>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <select asp-for="Plec" asp-items='@new SelectList(Enum.GetValues(typeof(Plec)))' class="w-200px form-input2"></select>
                    <span asp-validation-for="Plec" class="c-red"></span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Rola</span>
            </td>
            <td class="rightColumn">
                @if (Model.RolesList != null)
                {
                    <div class="db">
                        <select asp-for="RoleName" asp-items="Model.RolesList" class="w-200px form-input2"></select>
                        <span asp-validation-for="RoleName" class="c-red"></span>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <span>Data dodania</span>
            </td>
            <td class="rightColumn">
                <div class="db">
                    <span>@Model.DataDodania</span>
                    <span asp-validation-for="DataDodania" class="c-red"></span>
                </div>
            </td>
        </tr>
    </table>



    <div class="w-100 df-sb mt-30 mb-40">
        <a asp-action="Index" asp-controller="Users" class="buttonWstecz w-100px">Wstecz</a>
        <div class="df">
            <input type="submit" value="Zapisz" class="buttonEdit w-100px" />
            <a asp-action="Index" asp-controller="Users" class="buttonAnuluj w-100px ml-2">Anuluj</a>
        </div>
    </div>
</form>


<!-- Zwraca komunikat błędu, o ile takowy się pojawi -->
<span class="c-red">@ViewData["ErrorMessage"]</span>